@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Titillium Web", sans-serif;
}

.hover-icon:hover {
  color: #ffff;
}

.bg-footer {
background-image: url('./assets/bg_footer.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}